<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
<!-- GAZEBO STUFF -->

<!-- GAZEBO arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="load_gripper" default="false"/>

  <!--launch GAZEBO with own world configuration -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_with_vision)/worlds/test_world_camera_3.world"/>
  	<arg name="debug" value="$(arg debug)"/>
  	<arg name="gui" value="$(arg gui)"/>
  	<arg name="paused" value="$(arg paused)"/>
  	<arg name="use_sim_time" value="$(arg use_sim_time)"/>
  	<arg name="headless" value="$(arg headless)"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda"/>

  <rosparam file="$(find robot_with_vision)/config/panda_control.yaml" command="load"/>


  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller panda_arm_controller" />
  <node if="$(arg load_gripper)" name="controller_spawner_hand" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="panda_hand_controller" />


  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!--<rosparam file="$(find robotics_assisted_tomography)/config/panda_control.yaml" command="load"/>-->

  <!-- load the controllers -->

<!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find robot_with_vision)/config/panda.rviz" />

<!--     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">-->
<!--         <param name="use_gui" value="true"/>-->
<!--         <param name="publish_default_velocities" value="false"/>-->
<!--         <param name="publish_default_velocities" value="false"/>-->
<!--         <param name="publish_default_efforts" value="false"/>-->
<!--         </node>-->

 <node pkg="robot_with_vision" type="PandaController.py" name="PandaController" />
 <node pkg="robot_with_vision" type="img_converter.py" name="img_converter" />
 <node pkg="robot_with_vision" type="camera_vision.py" name="get_box_coordinates" />

</launch>
